@use "node_modules/@ministryofjustice/frontend/moj/all" as *;
@use "node_modules/govuk-frontend/dist/govuk" as *;
$moj-assets-path: "{{URL_PREFIX}}/assets/";

.{{APP_NAME}} {
  .govuk-width-container,
  .moj-header__container,
  .moj-primary-navigation__container {
    max-width: none;
    padding: 0 15px;
  }

  .govuk-main-wrapper {
    padding-top: 0;
    background: govuk-functional-colour("body-background");
  }

  .moj-sub-navigation {
    margin-bottom: 0;
  }

  .moj-sub-navigation__link {
    cursor: pointer;
    text-decoration: none;
  }

  .moj-banner--success {
    cursor: pointer;
  }


  main {
    header {
      margin-bottom: 1em;
    }
  }

  .hide {
    display: none;
  }

  .no-underline {
    text-decoration: none;
  }
}

.{{APP_NAME}}-error {
  .govuk-grid-column-two-thirds {
    padding-left: 45px;
    padding-bottom: 15px;
  }
}

#footer-background {
  background: govuk-functional-colour("template-background");
}

.govuk-footer {
  border-top: 10px solid;
  border-top-color: govuk-functional-colour("brand");
  color: govuk-functional-colour("text");
  background: govuk-functional-colour("body-background");
}

@supports (-webkit-mask-position: initial) or (mask-position: initial) {
  .govuk-footer__copyright-logo::before {
    mask-image: url("#{$moj-assets-path}images/govuk-crest.svg");
    mask-repeat: no-repeat;
    mask-size: 125px 102px;
    background: currentcolor;
    mask-position: 50% 0
  }
}

.govuk-footer__copyright-logo::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 112px;
  background-image: url("#{$moj-assets-path}images/govuk-crest.svg");
  background-repeat: no-repeat;
  background-size: 125px 102px;
  text-align: center;
  background-position: 50% 0;
  white-space: nowrap;
}
